body{
    margin:30px;
    padding:30px;
    
}


.blogs-list
{
    
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 10px 10px;
    
}

#btn add-blog{
    text-align: center;
}

.blogs-box
{
    width: 99.5%;
    background: rgb(55, 46, 46);
    padding: 20px;
    font-family: Work Sans;
}

.blogs-box a{
    text-decoration: none;
    color: white;
}

.blogs-box a:hover{
    color:yellow;
}

#read-more 
{
    color:skyblue;

}

#read-more:hover
{
    color: green;
}



.blogs-box img{
    width: 59%;
    height: 230px;
    margin-left: 20%;
    
}

.blogs-display
{
    top: 100px;
    position: absolute; 
    margin: 10px 10px;
}
.blogs-display img{
    width: 400px;
    
}

#user_span
{
    color: limegreen;
}



